$primary-font: #2c2f32;
$secondary-font: #A1A4AB;
$selected: #efefef;
$hover: #F8F8F8;
$border: #E6E7EE;
$accent: #412BEB;
$background: #fcfcfc;


//shared
%row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

%centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

%column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (min-width: 1201px) {
        .payroll-view {
            margin-right: 468px;
        }
}

//view
.payroll-view {
    
    height: 100%;

    .title-row {

        @extend %row-space-between;
        align-items: baseline;
        padding: 20px 32px 0px 32px;
        
        h1 {
            text-align: start;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0;
        }

        .date-wrapper {

            @extend %centre;

            background-color: #fff;
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-shadow: 2px 2px 8px rgba(169, 169, 169, 0.35);

            h2 {
                font-size: 12px;
                font-weight: 700;
                color: $primary-font;
                letter-spacing: 0.4px;
            }

            .icon-wrapper {
                @extend %centre;
                margin-left: 12px;
                font-size: 12px;
            }

            &:hover {
                background-color: $hover;
            }
        }
    }

    .empty-list-body {
        
        @extend %centre;
        flex-direction: column;
        height: 80%;
        

        .empty-body {

            @extend %centre;
            flex-direction: column;
            margin-bottom: 24px;

            .icon-wrapper {

                @extend %centre;

                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #F6F8F9;
                font-size: 28px;
            }

            h2 {
                font-size: 18px;
                font-weight: 700;
                margin-top: 24px;
            }

            h5 {
                font-size: 12px;
                font-weight: 500;
                color: $secondary-font;
                letter-spacing: 0.2px;
                line-height: 18px;
                margin-top: 8px;
                width: 240px;
            }
        }

        .import-button  {
            cursor: pointer;
            padding: 8px 16px;
            background-color: $accent;
            border-radius: 50px;
            
            h3 {
                color: #fff;
                font-weight: 500;
                letter-spacing: 0.6px;
                font-size: 12px;
            }
        }
    }

    .list-body {

        @extend %column-start;

        .filename-wrapper {
        
            @extend %row-start;
            align-self: flex-start;
            margin: 0 32px;
            margin-top: 4px;
            margin-bottom: 56px;
            color: $secondary-font;
            
    
            h5 {
                color: $secondary-font;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1px;
                margin-right: 4px;
            }

            .chev-wrapper {
                @extend %centre;

                font-size: 10px;
            }
    
            h6 {
                margin-left: 4px;
                color: $primary-font;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 0.6px
            }

            .remove-button {

                @extend %row-start;
                cursor: pointer;
                margin-left: 16px;
                padding: 4px 8px;
                border-radius: 20px;
                background-color: #EF4C45;

                .icon-wrapper {
                    @extend %centre;

                    color: #fff;
                    font-size: 12px;
                   
                    margin-right: 4px;
                }

                h3 {
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: 0.25px;
                    color: #fff;
                }
            }
        }
    
        .tab-row {
    
            @extend %row-space-between;
            
            width: 100%;
            padding: 0 32px;
            margin-bottom: 4px;

            .hide-scroll-wrapper {
                height: 37px;
                overflow-y: hidden;
                width: 100%;
            }

            .scrollbar-hide {
                padding-bottom: 37px;
            }
    
            .tab-wrapper {
    
                @extend %row-start;
                position: relative;
                width: 90%;
                overflow-x: auto;
                overflow-y: hidden;
                scroll-behavior: smooth;
    
                .tab-item {
    
                    cursor: pointer;
                    position: relative;
                    padding: 8px 0;
                    // padding-right: 8px;
                    padding-right: 28px;
                
                    h3 {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
    
                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        width: 25%;
                        height: 1px;
                        background-color: transparent;
                        border-radius: 2px;
                        z-index: 1;
                    }   
                }     
    
                #active-tab {
    
                    color: $accent;
    
                    &::after {
                        background-color: $accent;
                        z-index: 1;
                    }
                }
                
    
                #inactive-tab {
    
                    h3 {
                        font-weight: 400;
                        color: $secondary-font;
                    }
                    
                    &:hover::after {
                        background-color: $border;
                        z-index: 1;
                    }
                }
            }
    
            .generate-button {
        
                @extend %centre;

                cursor: pointer;
                background-color: $accent;
                color: #fff;
                padding: 10px 14px;
                border-radius: 6px;
                font-size: 14px;
                height: 37px;
                width: 180px;
    
                h6 {
                    margin-left: 8px;
                    font-weight: 400;
                    font-size: 12px;
                    overflow: hidden
                }
            }
    
        }
    
        .list-panel {
    
            @extend %row-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            // border-top: solid $border thin;
    
            .list-section {
                max-width: 1600px;
                width: 100%;
            }
    
            .list-detail {
               
                position: relative;
                width: 45%;
                padding: 24px 28px;
                
    
                h1 {
                    
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                }
    
                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    box-sizing: border-box;
                    border-left: solid $border thin;
                    height: calc(100vh - 179px);
                    
                }
            }
    
        }

        .large-summary {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
        }

        .generate-payslip-wrapper {
            
            @extend %centre;
    
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background: #00000070;
            z-index: 1;
            
            .generate-payslip-box {
    
                @extend %column-start;
        
                max-width: 500px;
                background-color: $background;
                border-radius: 8px;
                padding: 24px 32px;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        
                h2 {
                    text-align: left;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 24px;
                }
        
                h3 {
                    text-align: left;
                    color: $secondary-font;
                    font-weight: 600;
                    margin-bottom: 6px;
                    font-size: 14px
                }
        
                .output-wrapper {
        
                    @extend %row-space-between;

                    width: 100%;
                    margin-bottom: 8px;

                    p {
                        font-weight: 400;
                        font-size: 12px;
                        text-align: left;
                        letter-spacing: 0.25px
                    }

                    .choose-button {

                        @extend %centre;

                        cursor: pointer;
                        background-color: #ECE9FD;
                        border-radius: 4px;
                        margin-left: 24px;
                        width: 160px;
                        padding: 8px 0;
                        

                        h4 {
                            font-size: 12px;
                            font-weight: 700;
                            color: $accent;
                            letter-spacing: 0.6px;
                        }
                    }
                }

                .actions-row {

                    @extend %row-end;

                    width: 100%;
                    margin-top: 40px;

                    .button {
                        
                        @extend %centre;

                        cursor: pointer;
                        padding: 8px 16px;
                        border-radius: 4px;
                        margin-left: 8px;

                        h4 {
                            font-size: 12px;
                            font-weight: 500;
                        }
                        
                    }

                    .cancel-button {
                        background-color: #EEF1F7;

                        &:hover {
                            background-color: #D6D8DE;
                        }
                    }

                    .confirm-button {
                        background-color: $accent;
                        
                        h4 {
                            color: #fff;
                        }
                    }

                }

                .loading-wrapper {

                    @extend %column-start;

                    width: 100%;

                    .loading-title {

                        @extend %centre;

                        width: 100%;

                        .loading-icon {
                        
                            @extend %centre;
    
                            color: $accent;
                            font-size: 16px;
                            margin-left: 12px;
                        }
    
                        h5 {
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0.2px
                        }
                    }

                    .bar-wrapper {

                        @extend %row-start;
                        
                        width: 100%;
                        height: 4px;
                        margin-top: 16px;
                        margin-bottom: 8px;
                        border-radius: 2px;
                        background-color: $selected;
                    }
                }

                .completed-wrapper {

                    @extend %centre;
                    flex-direction: column;
                    width: 100%;

                    .completed-icon {
                        
                        @extend %centre;

                        width: 32px;
                        height: 32px;
                        color: #468F17;
                        font-size: 24px;
                        margin-bottom: 12px;
                    }

                    h5 {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    p {
                        margin-top: 4px;
                        font-size: 12px;
                        font-weight: 500;
                        width: 240px;
                    }

                    .actions-complete {

                        @extend %centre;
    
                        width: 100%;
                        margin-top: 32px;
    
                        .button {
                            
                            @extend %centre;
    
                            cursor: pointer;
                            padding: 8px 0;
                            width: 80px;
                            border-radius: 4px;
                            margin: 0 4px;

                            h4 {
                                font-size: 12px;
                                font-weight: 500;
                            }
                            
                        }
    
                        .cancel-button {
                            background-color: #EEF1F7;
    
                            &:hover {
                                background-color: #D6D8DE;
                            }
                        }
    
                        .confirm-button {
                            background-color: $accent;
                            
                            h4 {
                                color: #fff;
                            }
                        }
    
                    }
                }

                @media (prefers-reduced-motion: no-preference) {
                    .loading-icon {
                        animation: loading-icon-spin infinite 1.2s linear;
                    }
                }
                
                @keyframes loading-icon-spin {
                    from {
                        transform: rotate(0deg);
                    } to {
                        transform: rotate(360deg);
                    }
                }
                
            }
        }

    }

    

    
    
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    background-color: $secondary-font;
}

::-webkit-scrollbar-track {
    background-color: $hover;
    margin: 4px 0;
}